.progress-bar-content {
  margin: 20px 20px 20px 0;
  display: flex;
  align-items: center;
}

.progress-bar-label {
  font-size: 12px;
  margin-right: 4px;
  line-height: 13px;
  color: #9B9B9B;
}

.mat-progress-bar {
  height: 7px;
  border-radius: 5px;
}

::ng-deep .mat-progress-bar.mat-medium .mat-progress-bar-fill::after {
    background-color: #f1c527;
}

::ng-deep .mat-progress-bar.mat-medium .mat-progress-bar-buffer {
    background-color: #fadb9c;
}

::ng-deep .mat-progress-bar.mat-primary .mat-progress-bar-fill::after {
    background-color: #1A73E8;
}
::ng-deep .mat-progress-bar.mat-primary .mat-progress-bar-buffer {
    background-color: #a6c4ec;
}

:host {
  &.temp {
      .progress-bar-content {
          flex-direction: column;
      }
      .progress-bar-label {
        padding-bottom: 3px;
      }
  }
}
