:host {
  display:none;
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
}
.main-category-name {
    color: black;
    font-size: 12px;
}

.all-resources-container {
    display: flex;
    margin: 10px 0px;
}

.main-section-container {
    border: solid 1px rgb(170, 170, 170);
    border-radius: 5px;
    padding: 0px 15px;
    width: fit-content;
}

.resource-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.item-class {
    font-size: 22px;
}

.item-and-name-container {
    display: grid;
    text-align: center;
    border: solid 1px rgb(170, 170, 170);
    border-radius: 5px;
}

.name-class {
    color: black;
    font-size: 13px;
    background-color: rgb(170, 170, 170);
}
