<div class="panel-header">

  <app-one-action
    (click)="selectedPanel = 'Contact'"
    [icon]="'perm_contact_calendar'"
    [title]="'Contact'"
    [isActive]="selectedPanel === 'Contact'"
  ></app-one-action>

  <app-one-action
    (click)="selectedPanel = 'Needs'"
    [icon]="'priority_high'"
    [title]="'Safety guidline'"
    [isActive]="selectedPanel === 'Needs'"
  ></app-one-action>

  <app-one-action
    (click)="selectedPanel = 'Offers'"
    [icon]="'opacity'"
    [title]="'Give blood'"
    [isActive]="selectedPanel === 'Offers'"
  ></app-one-action>

</div>

<div class="panel-container" [ngSwitch]="selectedPanel">
  <div *ngSwitchCase="'Contact'" [@enterTrigger]="'fadeIn'">
    <!-- TODO contact component -->
    <app-contact [bloodBank]="bloodBank"></app-contact>
  </div>
  <div *ngSwitchCase="'Needs'" [@enterTrigger]="'fadeIn'">
    <app-list [items]="getNeeds()"></app-list>
  </div>
  <div *ngSwitchCase="'Offers'" [@enterTrigger]="'fadeIn'">
    <div class="add-offer" (click)="onOpenModalDialog()">
      <mat-icon class="circle-icon" (click)="onOpenModalDialog()">add</mat-icon>
    </div>
    <app-list [items]="getOffers()"></app-list>
  </div>
</div>
