<div class="sidenav" *ngIf="(bloodBank$ | async)">
  <div>TMP</div>
  <span>{{ (bloodBank$ | async).name }}</span>
  <div>TODO header</div>
  <div class="progress-bar-content">
    <mat-progress-bar
      class="progress-bar"
      color={{progress.color}}
      mode={{progress.mode}}
      value={{progress.value}}
      bufferValue="75"
      matTooltip={{progress.tooltip}}
    >
    </mat-progress-bar>
  </div>

  <app-action-panel [bloodBank]="(bloodBank$ | async)"></app-action-panel>
</div>
