.sidenav {
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.progress-bar-content {
  width: 80%
}

.progress-bar {
  height: 10px;
  border-radius: 5px;
}
