<mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="isRightNavOpened">


  <div>TODO header</div>
  <div class="progress-bar-content">
    <mat-progress-bar
      class="progress-bar"
      color={{progress.color}}
      mode={{progress.mode}}
      value={{progress.value}}
      bufferValue="75"
      matTooltip={{progress.tooltip}}
      >
    </mat-progress-bar>
  </div>

  <div *ngIf="(bloodBank$ | async)">
    <app-action-panel [bloodBank]="(bloodBank$ | async)"></app-action-panel>
  </div>

</mat-sidenav>


