<div class="sidenav" *ngIf="(bloodBank$ | async)">

  <div class="header-container">
    <app-panel-header [title]="'Station information'"
                      [icon]="'close'"
                      (iconClicked)="onIconClicked()"
    >

    </app-panel-header>
  </div>


  <div class="header-content">
    <div class="station-name">{{ (bloodBank$ | async).name }}</div>
    <app-progress-bar [supplyMode]="supplyMode" [progressValue]="bloodBankLevel"></app-progress-bar>
    <app-action-panel [bloodBank]="(bloodBank$ | async)"></app-action-panel>
  </div>
</div>
