.list-container {
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
}

.list {
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  transition: background-color ease-in-out .2s;

  &:hover {
    background-color: #F1F3F4;
  }
}

.item-name {
  font-size: 13px !important;
  padding: 7px 0 !important;
}

.item-quantity {
  font-size: 12px;
  cursor: default;
}

// material classes
.mat-list-item {
  height: auto !important;
}
