.filter-field {
  width: calc(100% - 12px);
  padding: 16px 6px 0;
}

.list-table {
  width: 100%;
}

.col-name {
  text-align: left;
}

.col-quantity {
  text-align: right;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
