<mat-toolbar class="toolbar">
  <div class="toolbar__title">
    <mat-icon class="title__icon">favorite</mat-icon>
    <h1>{{ title }}</h1>
  </div>

  <div class="toolbar__country">
    <button mat-button [matMenuTriggerFor]="countryListElement" class="lang-button">
      <div class="toolbar__country__flag" #countryFlagDiv></div>
      <span>{{countryFlag}}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #countryListElement="matMenu">
      <button mat-menu-item *ngFor="let country of countryList" (click)="changeFlag(country)">{{country.code}}</button>
    </mat-menu>
    <div class="toolbar__country__time">Last update<br/>{{updatedDate}}</div>

  </div>
</mat-toolbar>
