.toolbar {
  display: inline-block;
  padding-left: 0px;

  &__row {
    padding-left: 0px;
    padding-right: 0px;
  }

  &__title {
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 6px solid #d83939;
  }

  &__location {
    font-style: italic;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  &__country {
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__flag {
      background: url(https://dl.dropboxusercontent.com/s/izcyieh1iatr4n5/flags.png) no-repeat;
      display: inline-block;
      width: 16px;
      height: 11px;
      background-position: -220px -225px;
    }
    &__time {
      font-size: 16px;
      line-height: 20px;
      padding: 8px;
    }
  }
}
